kchbizadf/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "kchbizadf"
		},
		"kchbizdl2_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'kchbizdl2'"
		},
		"kchbizazuredb_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "kchdbazure"
		},
		"kchbizdl2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://kchbizdl2.dfs.core.windows.net"
		},
		"kchbizkv_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kchbizkeyvault.vault.azure.net/"
		},
		"kchbizlocaldb_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "kchdblocal"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CopyDimCity_parquet')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyDimCity",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "Dimension.City_V"
							},
							{
								"name": "Destination",
								"value": "raw//City.parquet"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"maxConcurrentConnections": 30
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CityKey",
											"type": "Int32"
										},
										"sink": {
											"name": "CityKey"
										}
									},
									{
										"source": {
											"name": "WWICityID",
											"type": "Int32"
										},
										"sink": {
											"name": "WWICityID"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String"
										},
										"sink": {
											"name": "City"
										}
									},
									{
										"source": {
											"name": "StateProvince",
											"type": "String"
										},
										"sink": {
											"name": "StateProvince"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String"
										},
										"sink": {
											"name": "Country"
										}
									},
									{
										"source": {
											"name": "Continent",
											"type": "String"
										},
										"sink": {
											"name": "Continent"
										}
									},
									{
										"source": {
											"name": "SalesTerritory",
											"type": "String"
										},
										"sink": {
											"name": "SalesTerritory"
										}
									},
									{
										"source": {
											"name": "Region",
											"type": "String"
										},
										"sink": {
											"name": "Region"
										}
									},
									{
										"source": {
											"name": "Subregion",
											"type": "String"
										},
										"sink": {
											"name": "Subregion"
										}
									},
									{
										"source": {
											"name": "LatestRecordedPopulation",
											"type": "Int64"
										},
										"sink": {
											"name": "LatestRecordedPopulation"
										}
									},
									{
										"source": {
											"name": "ValidFrom",
											"type": "DateTime"
										},
										"sink": {
											"name": "ValidFrom"
										}
									},
									{
										"source": {
											"name": "ValidTo",
											"type": "DateTime"
										},
										"sink": {
											"name": "ValidTo"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "src_kchitmlocal_DimCity_tbl",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dest_kchbizdl2_DimCity_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/src_kchitmlocal_DimCity_tbl')]",
				"[concat(variables('factoryId'), '/datasets/dest_kchbizdl2_DimCity_parquet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyDimCustomer_parquet')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyDimCustomer",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "Dimension.Customer_V"
							},
							{
								"name": "Destination",
								"value": "raw//Customer.parquet"
							}
						],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CustomerKey",
											"type": "Int32"
										},
										"sink": {
											"name": "CustomerKey",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "WWICustomerID",
											"type": "Int32"
										},
										"sink": {
											"name": "WWICustomerID"
										}
									},
									{
										"source": {
											"name": "Customer",
											"type": "String"
										},
										"sink": {
											"name": "Customer"
										}
									},
									{
										"source": {
											"name": "BillToCustomer",
											"type": "String"
										},
										"sink": {
											"name": "BillToCustomer"
										}
									},
									{
										"source": {
											"name": "Category",
											"type": "String"
										},
										"sink": {
											"name": "Category"
										}
									},
									{
										"source": {
											"name": "BuyingGroup",
											"type": "String"
										},
										"sink": {
											"name": "BuyingGroup"
										}
									},
									{
										"source": {
											"name": "PrimaryContact",
											"type": "String"
										},
										"sink": {
											"name": "PrimaryContact"
										}
									},
									{
										"source": {
											"name": "PostalCode",
											"type": "String"
										},
										"sink": {
											"name": "PostalCode"
										}
									},
									{
										"source": {
											"name": "ValidFrom",
											"type": "DateTime"
										},
										"sink": {
											"name": "ValidFrom"
										}
									},
									{
										"source": {
											"name": "ValidTo",
											"type": "DateTime"
										},
										"sink": {
											"name": "ValidTo"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "src_kchbizsqlserver_DimCustomer_tbl",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dest_kchbizdl2_DimCustomer_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/src_kchbizsqlserver_DimCustomer_tbl')]",
				"[concat(variables('factoryId'), '/datasets/dest_kchbizdl2_DimCustomer_parquet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyDimDate_csv')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyDimDate",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "Dimension.Date_V"
							},
							{
								"name": "Destination",
								"value": "raw//DimDate.csv"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"maxConcurrentConnections": 14
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Date",
											"type": "DateTime"
										},
										"sink": {
											"type": "DateTime",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "DayNumber",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "Day",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 3
										}
									},
									{
										"source": {
											"name": "Month",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 4
										}
									},
									{
										"source": {
											"name": "ShortMonth",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 5
										}
									},
									{
										"source": {
											"name": "CalendarMonthNumber",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 6
										}
									},
									{
										"source": {
											"name": "CalendarMonthLabel",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 7
										}
									},
									{
										"source": {
											"name": "CalendarYear",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 8
										}
									},
									{
										"source": {
											"name": "CalendarYearLabel",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 9
										}
									},
									{
										"source": {
											"name": "FiscalMonthNumber",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 10
										}
									},
									{
										"source": {
											"name": "FiscalMonthLabel",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 11
										}
									},
									{
										"source": {
											"name": "FiscalYear",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 12
										}
									},
									{
										"source": {
											"name": "FiscalYearLabel",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 13
										}
									},
									{
										"source": {
											"name": "ISOWeekNumber",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 14
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "src_kchitmlocal_DimDate_tbl",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dest_kchbizdl2_DimDate_csv",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/src_kchitmlocal_DimDate_tbl')]",
				"[concat(variables('factoryId'), '/datasets/dest_kchbizdl2_DimDate_csv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyFactSale_csv')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_FactSale_csv",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "Fact.Sale_V"
							},
							{
								"name": "Destination",
								"value": "raw//FactSalecsv"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SaleKey",
											"type": "Int64"
										},
										"sink": {
											"type": "Int64",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "CityKey",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "CustomerKey",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 3
										}
									},
									{
										"source": {
											"name": "BillToCustomerKey",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 4
										}
									},
									{
										"source": {
											"name": "StockItemKey",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 5
										}
									},
									{
										"source": {
											"name": "InvoiceDateKey",
											"type": "DateTime"
										},
										"sink": {
											"type": "DateTime",
											"ordinal": 6
										}
									},
									{
										"source": {
											"name": "DeliveryDateKey",
											"type": "DateTime"
										},
										"sink": {
											"type": "DateTime",
											"ordinal": 7
										}
									},
									{
										"source": {
											"name": "SalespersonKey",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 8
										}
									},
									{
										"source": {
											"name": "WWIInvoiceID",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 9
										}
									},
									{
										"source": {
											"name": "Description",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 10
										}
									},
									{
										"source": {
											"name": "Package",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 11
										}
									},
									{
										"source": {
											"name": "Quantity",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 12
										}
									},
									{
										"source": {
											"name": "UnitPrice",
											"type": "Decimal"
										},
										"sink": {
											"type": "Decimal",
											"ordinal": 13
										}
									},
									{
										"source": {
											"name": "TaxRate",
											"type": "Decimal"
										},
										"sink": {
											"type": "Decimal",
											"ordinal": 14
										}
									},
									{
										"source": {
											"name": "TotalExcludingTax",
											"type": "Decimal"
										},
										"sink": {
											"type": "Decimal",
											"ordinal": 15
										}
									},
									{
										"source": {
											"name": "TaxAmount",
											"type": "Decimal"
										},
										"sink": {
											"type": "Decimal",
											"ordinal": 16
										}
									},
									{
										"source": {
											"name": "Profit",
											"type": "Decimal"
										},
										"sink": {
											"type": "Decimal",
											"ordinal": 17
										}
									},
									{
										"source": {
											"name": "TotalIncludingTax",
											"type": "Decimal"
										},
										"sink": {
											"type": "Decimal",
											"ordinal": 18
										}
									},
									{
										"source": {
											"name": "TotalDryItems",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 19
										}
									},
									{
										"source": {
											"name": "TotalChillerItems",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 20
										}
									},
									{
										"source": {
											"name": "LineageKey",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 21
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "src_kchitmlocal_FactSale_tbl",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dest_kchbizdl2_FactSale_csv",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/src_kchitmlocal_FactSale_tbl')]",
				"[concat(variables('factoryId'), '/datasets/dest_kchbizdl2_FactSale_csv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyFactSale_parquet')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyFactSale",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "Fact.Sale_V"
							},
							{
								"name": "Destination",
								"value": "raw//Sale.parquet"
							}
						],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SaleKey",
											"type": "Int64"
										},
										"sink": {
											"name": "SaleKey"
										}
									},
									{
										"source": {
											"name": "CityKey",
											"type": "Int32"
										},
										"sink": {
											"name": "CityKey"
										}
									},
									{
										"source": {
											"name": "CustomerKey",
											"type": "Int32"
										},
										"sink": {
											"name": "CustomerKey",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "BillToCustomerKey",
											"type": "Int32"
										},
										"sink": {
											"name": "BillToCustomerKey"
										}
									},
									{
										"source": {
											"name": "StockItemKey",
											"type": "Int32"
										},
										"sink": {
											"name": "StockItemKey"
										}
									},
									{
										"source": {
											"name": "InvoiceDateKey",
											"type": "DateTime"
										},
										"sink": {
											"name": "InvoiceDateKey"
										}
									},
									{
										"source": {
											"name": "DeliveryDateKey",
											"type": "DateTime"
										},
										"sink": {
											"name": "DeliveryDateKey"
										}
									},
									{
										"source": {
											"name": "SalespersonKey",
											"type": "Int32"
										},
										"sink": {
											"name": "SalespersonKey"
										}
									},
									{
										"source": {
											"name": "WWIInvoiceID",
											"type": "Int32"
										},
										"sink": {
											"name": "WWIInvoiceID"
										}
									},
									{
										"source": {
											"name": "Description",
											"type": "String"
										},
										"sink": {
											"name": "Description"
										}
									},
									{
										"source": {
											"name": "Package",
											"type": "String"
										},
										"sink": {
											"name": "Package"
										}
									},
									{
										"source": {
											"name": "Quantity",
											"type": "Int32"
										},
										"sink": {
											"name": "Quantity"
										}
									},
									{
										"source": {
											"name": "UnitPrice",
											"type": "Decimal"
										},
										"sink": {
											"name": "UnitPrice"
										}
									},
									{
										"source": {
											"name": "TaxRate",
											"type": "Decimal"
										},
										"sink": {
											"name": "TaxRate"
										}
									},
									{
										"source": {
											"name": "TotalExcludingTax",
											"type": "Decimal"
										},
										"sink": {
											"name": "TotalExcludingTax"
										}
									},
									{
										"source": {
											"name": "TaxAmount",
											"type": "Decimal"
										},
										"sink": {
											"name": "TaxAmount"
										}
									},
									{
										"source": {
											"name": "Profit",
											"type": "Decimal"
										},
										"sink": {
											"name": "Profit"
										}
									},
									{
										"source": {
											"name": "TotalIncludingTax",
											"type": "Decimal"
										},
										"sink": {
											"name": "TotalIncludingTax"
										}
									},
									{
										"source": {
											"name": "TotalDryItems",
											"type": "Int32"
										},
										"sink": {
											"name": "TotalDryItems"
										}
									},
									{
										"source": {
											"name": "TotalChillerItems",
											"type": "Int32"
										},
										"sink": {
											"name": "TotalChillerItems"
										}
									},
									{
										"source": {
											"name": "LineageKey",
											"type": "Int32"
										},
										"sink": {
											"name": "LineageKey"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "src_kchbizsqlserver_FactSale_tbl",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dest_kchbizdl2_FactSale_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/src_kchbizsqlserver_FactSale_tbl')]",
				"[concat(variables('factoryId'), '/datasets/dest_kchbizdl2_FactSale_parquet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/_master_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyDimCity",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyDimCity_parquet",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyDimCustomer",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyDimCity",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyDimCustomer_parquet",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyDimDate",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyDimCustomer",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyDimDate_csv",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyFactSale",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyDimDate",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyFactSale_parquet",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyFactSalecsv",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyFactSale",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyFactSale_csv",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/CopyDimCity_parquet')]",
				"[concat(variables('factoryId'), '/pipelines/CopyDimCustomer_parquet')]",
				"[concat(variables('factoryId'), '/pipelines/CopyDimDate_csv')]",
				"[concat(variables('factoryId'), '/pipelines/CopyFactSale_parquet')]",
				"[concat(variables('factoryId'), '/pipelines/CopyFactSale_csv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dest_kchbizdl2_DimCity_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "kchbizdl2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "DimCity.parquet",
						"fileSystem": "raw"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "CustomerKey",
						"type": "INT32"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/kchbizdl2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dest_kchbizdl2_DimCustomer_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "kchbizdl2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "DimCustomer.parquet",
						"fileSystem": "raw"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "CustomerKey",
						"type": "INT32"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/kchbizdl2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dest_kchbizdl2_DimDate_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "kchbizdl2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "DimDate.csv",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/kchbizdl2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dest_kchbizdl2_FactSale_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "kchbizdl2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "FactSale.csv",
						"fileSystem": "raw"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/kchbizdl2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dest_kchbizdl2_FactSale_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "kchbizdl2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "FactSale.parquet",
						"fileSystem": "raw"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/kchbizdl2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_kchbizsqlserver_DimCustomer_tbl')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "kchbizazuredb",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CustomerKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "WWICustomerID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Customer",
						"type": "nvarchar"
					},
					{
						"name": "BillToCustomer",
						"type": "nvarchar"
					},
					{
						"name": "Category",
						"type": "nvarchar"
					},
					{
						"name": "BuyingGroup",
						"type": "nvarchar"
					},
					{
						"name": "PrimaryContact",
						"type": "nvarchar"
					},
					{
						"name": "PostalCode",
						"type": "nvarchar"
					},
					{
						"name": "ValidFrom",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "ValidTo",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "LineageKey",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "Dimension",
					"table": "Customer_V"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/kchbizazuredb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_kchbizsqlserver_FactSale_tbl')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "kchbizazuredb",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "SaleKey",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "CityKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CustomerKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BillToCustomerKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "StockItemKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "InvoiceDateKey",
						"type": "date"
					},
					{
						"name": "DeliveryDateKey",
						"type": "date"
					},
					{
						"name": "SalespersonKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "WWIInvoiceID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Description",
						"type": "nvarchar"
					},
					{
						"name": "Package",
						"type": "nvarchar"
					},
					{
						"name": "Quantity",
						"type": "int",
						"precision": 10
					},
					{
						"name": "UnitPrice",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "TaxRate",
						"type": "decimal",
						"precision": 18,
						"scale": 3
					},
					{
						"name": "TotalExcludingTax",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "TaxAmount",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "Profit",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "TotalIncludingTax",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "TotalDryItems",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TotalChillerItems",
						"type": "int",
						"precision": 10
					},
					{
						"name": "LineageKey",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "Fact",
					"table": "Sale_V"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/kchbizazuredb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_kchitmlocal_DimCity_tbl')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "kchbizlocaldb",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "CityKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "WWICityID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "StateProvince",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Continent",
						"type": "nvarchar"
					},
					{
						"name": "SalesTerritory",
						"type": "nvarchar"
					},
					{
						"name": "Region",
						"type": "nvarchar"
					},
					{
						"name": "Subregion",
						"type": "nvarchar"
					},
					{
						"name": "LatestRecordedPopulation",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "ValidFrom",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "ValidTo",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "LineageKey",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "Dimension",
					"table": "City_V"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/kchbizlocaldb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_kchitmlocal_DimDate_tbl')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "kchbizlocaldb",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "Day Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Day",
						"type": "nvarchar"
					},
					{
						"name": "Month",
						"type": "nvarchar"
					},
					{
						"name": "Short Month",
						"type": "nvarchar"
					},
					{
						"name": "Calendar Month Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Calendar Month Label",
						"type": "nvarchar"
					},
					{
						"name": "Calendar Year",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Calendar Year Label",
						"type": "nvarchar"
					},
					{
						"name": "Fiscal Month Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Fiscal Month Label",
						"type": "nvarchar"
					},
					{
						"name": "Fiscal Year",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Fiscal Year Label",
						"type": "nvarchar"
					},
					{
						"name": "ISO Week Number",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "Dimension",
					"table": "Date_V"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/kchbizlocaldb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_kchitmlocal_FactSale_tbl')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "kchbizlocaldb",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "SaleKey",
						"type": "bigint"
					},
					{
						"name": "CityKey",
						"type": "int"
					},
					{
						"name": "CustomerKey",
						"type": "int"
					},
					{
						"name": "BillToCustomerKey",
						"type": "int"
					},
					{
						"name": "StockItemKey",
						"type": "int"
					},
					{
						"name": "InvoiceDateKey",
						"type": "date"
					},
					{
						"name": "DeliveryDateKey",
						"type": "date"
					},
					{
						"name": "SalespersonKey",
						"type": "int"
					},
					{
						"name": "WWIInvoiceID",
						"type": "int"
					},
					{
						"name": "Description",
						"type": "nvarchar"
					},
					{
						"name": "Package",
						"type": "nvarchar"
					},
					{
						"name": "Quantity",
						"type": "int"
					},
					{
						"name": "UnitPrice",
						"type": "decimal"
					},
					{
						"name": "TaxRate",
						"type": "decimal"
					},
					{
						"name": "TotalExcludingTax",
						"type": "decimal"
					},
					{
						"name": "TaxAmount",
						"type": "decimal"
					},
					{
						"name": "Profit",
						"type": "decimal"
					},
					{
						"name": "TotalIncludingTax",
						"type": "decimal"
					},
					{
						"name": "TotalDryItems",
						"type": "int"
					},
					{
						"name": "TotalChillerItems",
						"type": "int"
					},
					{
						"name": "LineageKey",
						"type": "int"
					}
				],
				"typeProperties": {
					"schema": "Fact",
					"table": "Sale_V"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/kchbizlocaldb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/kchbizazuredb')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "kchbizkv",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('kchbizazuredb_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/kchbizkv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/kchbizdatabricks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-328766657364835.15.azuredatabricks.net",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "kchbizkv",
							"type": "LinkedServiceReference"
						},
						"secretName": "kchdatabricks"
					},
					"existingClusterId": "0511-105411-taper908"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/kchbizkv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/kchbizdl2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('kchbizdl2_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('kchbizdl2_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/kchbizkv')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('kchbizkv_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/kchbizlocaldb')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "kchbizkv",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('kchbizlocaldb_properties_typeProperties_connectionString_secretName')]"
					}
				},
				"connectVia": {
					"referenceName": "kchbizlocal",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/kchbizlocal')]",
				"[concat(variables('factoryId'), '/linkedServices/kchbizkv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "_master_pipeline",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2020-04-14T13:50:00.000Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/_master_pipeline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/kchbizlocal')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		}
	]
}