kchbizadf/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "kchbizadf"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CopyFactSale_parquet')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyFactSale",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "Fact.Sale_V"
							},
							{
								"name": "Destination",
								"value": "raw//Sale.parquet"
							}
						],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SaleKey",
											"type": "Int64"
										},
										"sink": {
											"name": "SaleKey"
										}
									},
									{
										"source": {
											"name": "CityKey",
											"type": "Int32"
										},
										"sink": {
											"name": "CityKey"
										}
									},
									{
										"source": {
											"name": "CustomerKey",
											"type": "Int32"
										},
										"sink": {
											"name": "CustomerKey",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "BillToCustomerKey",
											"type": "Int32"
										},
										"sink": {
											"name": "BillToCustomerKey"
										}
									},
									{
										"source": {
											"name": "StockItemKey",
											"type": "Int32"
										},
										"sink": {
											"name": "StockItemKey"
										}
									},
									{
										"source": {
											"name": "InvoiceDateKey",
											"type": "DateTime"
										},
										"sink": {
											"name": "InvoiceDateKey"
										}
									},
									{
										"source": {
											"name": "DeliveryDateKey",
											"type": "DateTime"
										},
										"sink": {
											"name": "DeliveryDateKey"
										}
									},
									{
										"source": {
											"name": "SalespersonKey",
											"type": "Int32"
										},
										"sink": {
											"name": "SalespersonKey"
										}
									},
									{
										"source": {
											"name": "WWIInvoiceID",
											"type": "Int32"
										},
										"sink": {
											"name": "WWIInvoiceID"
										}
									},
									{
										"source": {
											"name": "Description",
											"type": "String"
										},
										"sink": {
											"name": "Description"
										}
									},
									{
										"source": {
											"name": "Package",
											"type": "String"
										},
										"sink": {
											"name": "Package"
										}
									},
									{
										"source": {
											"name": "Quantity",
											"type": "Int32"
										},
										"sink": {
											"name": "Quantity"
										}
									},
									{
										"source": {
											"name": "UnitPrice",
											"type": "Decimal"
										},
										"sink": {
											"name": "UnitPrice"
										}
									},
									{
										"source": {
											"name": "TaxRate",
											"type": "Decimal"
										},
										"sink": {
											"name": "TaxRate"
										}
									},
									{
										"source": {
											"name": "TotalExcludingTax",
											"type": "Decimal"
										},
										"sink": {
											"name": "TotalExcludingTax"
										}
									},
									{
										"source": {
											"name": "TaxAmount",
											"type": "Decimal"
										},
										"sink": {
											"name": "TaxAmount"
										}
									},
									{
										"source": {
											"name": "Profit",
											"type": "Decimal"
										},
										"sink": {
											"name": "Profit"
										}
									},
									{
										"source": {
											"name": "TotalIncludingTax",
											"type": "Decimal"
										},
										"sink": {
											"name": "TotalIncludingTax"
										}
									},
									{
										"source": {
											"name": "TotalDryItems",
											"type": "Int32"
										},
										"sink": {
											"name": "TotalDryItems"
										}
									},
									{
										"source": {
											"name": "TotalChillerItems",
											"type": "Int32"
										},
										"sink": {
											"name": "TotalChillerItems"
										}
									},
									{
										"source": {
											"name": "LineageKey",
											"type": "Int32"
										},
										"sink": {
											"name": "LineageKey"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "src_kchbizsqlserver_FactSale_tbl",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dest_kchbizdl2_FactSale_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/_master_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyDimCity",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyDimCity_parquet",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyDimCustomer",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyDimCity",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyDimCustomer_parquet",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyDimDate",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyDimCustomer",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyDimDate_csv",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyFactSale",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyDimDate",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyFactSale_parquet",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CopyFactSalecsv",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyFactSale",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyFactSale_csv",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/CopyFactSale_parquet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "_master_pipeline",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2020-04-14T13:50:00.000Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/_master_pipeline')]"
			]
		}
	]
}