kchbizadf/PartialArmTemplates/ArmTemplate_5_12_2020_14_38_54.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "kchbizadf"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CopyDimCity_parquet')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyDimCity",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "Dimension.City_V"
							},
							{
								"name": "Destination",
								"value": "raw//City.parquet"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"maxConcurrentConnections": 30
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CityKey",
											"type": "Int32"
										},
										"sink": {
											"name": "CityKey"
										}
									},
									{
										"source": {
											"name": "WWICityID",
											"type": "Int32"
										},
										"sink": {
											"name": "WWICityID"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String"
										},
										"sink": {
											"name": "City"
										}
									},
									{
										"source": {
											"name": "StateProvince",
											"type": "String"
										},
										"sink": {
											"name": "StateProvince"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String"
										},
										"sink": {
											"name": "Country"
										}
									},
									{
										"source": {
											"name": "Continent",
											"type": "String"
										},
										"sink": {
											"name": "Continent"
										}
									},
									{
										"source": {
											"name": "SalesTerritory",
											"type": "String"
										},
										"sink": {
											"name": "SalesTerritory"
										}
									},
									{
										"source": {
											"name": "Region",
											"type": "String"
										},
										"sink": {
											"name": "Region"
										}
									},
									{
										"source": {
											"name": "Subregion",
											"type": "String"
										},
										"sink": {
											"name": "Subregion"
										}
									},
									{
										"source": {
											"name": "LatestRecordedPopulation",
											"type": "Int64"
										},
										"sink": {
											"name": "LatestRecordedPopulation"
										}
									},
									{
										"source": {
											"name": "ValidFrom",
											"type": "DateTime"
										},
										"sink": {
											"name": "ValidFrom"
										}
									},
									{
										"source": {
											"name": "ValidTo",
											"type": "DateTime"
										},
										"sink": {
											"name": "ValidTo"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "src_kchitmlocal_DimCity_tbl",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "dest_kchbizdl2_DimCity_parquet",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyDimCustomer_parquet')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyDimCustomer",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "Dimension.Customer_V"
							},
							{
								"name": "Destination",
								"value": "raw//Customer.parquet"
							}
						],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CustomerKey",
											"type": "Int32"
										},
										"sink": {
											"name": "CustomerKey",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "WWICustomerID",
											"type": "Int32"
										},
										"sink": {
											"name": "WWICustomerID"
										}
									},
									{
										"source": {
											"name": "Customer",
											"type": "String"
										},
										"sink": {
											"name": "Customer"
										}
									},
									{
										"source": {
											"name": "BillToCustomer",
											"type": "String"
										},
										"sink": {
											"name": "BillToCustomer"
										}
									},
									{
										"source": {
											"name": "Category",
											"type": "String"
										},
										"sink": {
											"name": "Category"
										}
									},
									{
										"source": {
											"name": "BuyingGroup",
											"type": "String"
										},
										"sink": {
											"name": "BuyingGroup"
										}
									},
									{
										"source": {
											"name": "PrimaryContact",
											"type": "String"
										},
										"sink": {
											"name": "PrimaryContact"
										}
									},
									{
										"source": {
											"name": "PostalCode",
											"type": "String"
										},
										"sink": {
											"name": "PostalCode"
										}
									},
									{
										"source": {
											"name": "ValidFrom",
											"type": "DateTime"
										},
										"sink": {
											"name": "ValidFrom"
										}
									},
									{
										"source": {
											"name": "ValidTo",
											"type": "DateTime"
										},
										"sink": {
											"name": "ValidTo"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "src_kchbizsqlserver_DimCustomer_tbl",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "dest_kchbizdl2_DimCustomer_parquet",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyDimDate_csv')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyDimDate",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "Dimension.Date"
							},
							{
								"name": "Destination",
								"value": "raw//Date.csv"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"maxConcurrentConnections": 14
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Date",
											"type": "DateTime"
										},
										"sink": {
											"type": "DateTime",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "DayNumber",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "Day",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 3
										}
									},
									{
										"source": {
											"name": "Month",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 4
										}
									},
									{
										"source": {
											"name": "ShortMonth",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 5
										}
									},
									{
										"source": {
											"name": "CalendarMonthNumber",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 6
										}
									},
									{
										"source": {
											"name": "CalendarMonthLabel",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 7
										}
									},
									{
										"source": {
											"name": "CalendarYear",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 8
										}
									},
									{
										"source": {
											"name": "CalendarYearLabel",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 9
										}
									},
									{
										"source": {
											"name": "FiscalMonthNumber",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 10
										}
									},
									{
										"source": {
											"name": "FiscalMonthLabel",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 11
										}
									},
									{
										"source": {
											"name": "FiscalYear",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 12
										}
									},
									{
										"source": {
											"name": "FiscalYearLabel",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 13
										}
									},
									{
										"source": {
											"name": "ISOWeekNumber",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 14
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "src_kchitmlocal_DimDate_tbl",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "dest_kchbizdl2_DimDate_csv",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyFactSale_parquet')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyFactSale",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "Fact.Sale_V"
							},
							{
								"name": "Destination",
								"value": "raw//Sale.parquet"
							}
						],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SaleKey",
											"type": "Int64"
										},
										"sink": {
											"name": "SaleKey"
										}
									},
									{
										"source": {
											"name": "CityKey",
											"type": "Int32"
										},
										"sink": {
											"name": "CityKey"
										}
									},
									{
										"source": {
											"name": "CustomerKey",
											"type": "Int32"
										},
										"sink": {
											"name": "CustomerKey",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "BillToCustomerKey",
											"type": "Int32"
										},
										"sink": {
											"name": "BillToCustomerKey"
										}
									},
									{
										"source": {
											"name": "StockItemKey",
											"type": "Int32"
										},
										"sink": {
											"name": "StockItemKey"
										}
									},
									{
										"source": {
											"name": "InvoiceDateKey",
											"type": "DateTime"
										},
										"sink": {
											"name": "InvoiceDateKey"
										}
									},
									{
										"source": {
											"name": "DeliveryDateKey",
											"type": "DateTime"
										},
										"sink": {
											"name": "DeliveryDateKey"
										}
									},
									{
										"source": {
											"name": "SalespersonKey",
											"type": "Int32"
										},
										"sink": {
											"name": "SalespersonKey"
										}
									},
									{
										"source": {
											"name": "WWIInvoiceID",
											"type": "Int32"
										},
										"sink": {
											"name": "WWIInvoiceID"
										}
									},
									{
										"source": {
											"name": "Description",
											"type": "String"
										},
										"sink": {
											"name": "Description"
										}
									},
									{
										"source": {
											"name": "Package",
											"type": "String"
										},
										"sink": {
											"name": "Package"
										}
									},
									{
										"source": {
											"name": "Quantity",
											"type": "Int32"
										},
										"sink": {
											"name": "Quantity"
										}
									},
									{
										"source": {
											"name": "UnitPrice",
											"type": "Decimal"
										},
										"sink": {
											"name": "UnitPrice"
										}
									},
									{
										"source": {
											"name": "TaxRate",
											"type": "Decimal"
										},
										"sink": {
											"name": "TaxRate"
										}
									},
									{
										"source": {
											"name": "TotalExcludingTax",
											"type": "Decimal"
										},
										"sink": {
											"name": "TotalExcludingTax"
										}
									},
									{
										"source": {
											"name": "TaxAmount",
											"type": "Decimal"
										},
										"sink": {
											"name": "TaxAmount"
										}
									},
									{
										"source": {
											"name": "Profit",
											"type": "Decimal"
										},
										"sink": {
											"name": "Profit"
										}
									},
									{
										"source": {
											"name": "TotalIncludingTax",
											"type": "Decimal"
										},
										"sink": {
											"name": "TotalIncludingTax"
										}
									},
									{
										"source": {
											"name": "TotalDryItems",
											"type": "Int32"
										},
										"sink": {
											"name": "TotalDryItems"
										}
									},
									{
										"source": {
											"name": "TotalChillerItems",
											"type": "Int32"
										},
										"sink": {
											"name": "TotalChillerItems"
										}
									},
									{
										"source": {
											"name": "LineageKey",
											"type": "Int32"
										},
										"sink": {
											"name": "LineageKey"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "src_kchbizsqlserver_FactSale_tbl",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "dest_kchbizdl2_FactSale_parquet",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyFactSale_csv')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_d6f",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "Fact.Sale_V"
							},
							{
								"name": "Destination",
								"value": "raw//FactSalecsv"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "src_kchitmlocal_FactSale_tbl",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "dest_kchbizdl2_FactSale_csv",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/src_kchitmlocal_FactSale_tbl')]",
				"[concat(variables('factoryId'), '/datasets/dest_kchbizdl2_FactSale_csv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/_master_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyDimCity",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyDimCity_parquet",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "CopyDimCustomer",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyDimCity",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyDimCustomer_parquet",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "CopyDimDate",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyDimCustomer",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyDimDate_csv",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "CopyFactSale",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyDimDate",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyFactSale_parquet",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "CopyFactSalecsv",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CopyFactSale",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyFactSale_csv",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/CopyDimCity_parquet')]",
				"[concat(variables('factoryId'), '/pipelines/CopyDimCustomer_parquet')]",
				"[concat(variables('factoryId'), '/pipelines/CopyDimDate_csv')]",
				"[concat(variables('factoryId'), '/pipelines/CopyFactSale_parquet')]",
				"[concat(variables('factoryId'), '/pipelines/CopyFactSale_csv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dest_kchbizdl2_FactSale_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "kchbizdl2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "FactSalecsv",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_kchitmlocal_FactSale_tbl')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "kchbizlocaldb",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "SaleKey",
						"type": "bigint"
					},
					{
						"name": "CityKey",
						"type": "int"
					},
					{
						"name": "CustomerKey",
						"type": "int"
					},
					{
						"name": "BillToCustomerKey",
						"type": "int"
					},
					{
						"name": "StockItemKey",
						"type": "int"
					},
					{
						"name": "InvoiceDateKey",
						"type": "date"
					},
					{
						"name": "DeliveryDateKey",
						"type": "date"
					},
					{
						"name": "SalespersonKey",
						"type": "int"
					},
					{
						"name": "WWIInvoiceID",
						"type": "int"
					},
					{
						"name": "Description",
						"type": "nvarchar"
					},
					{
						"name": "Package",
						"type": "nvarchar"
					},
					{
						"name": "Quantity",
						"type": "int"
					},
					{
						"name": "UnitPrice",
						"type": "decimal"
					},
					{
						"name": "TaxRate",
						"type": "decimal"
					},
					{
						"name": "TotalExcludingTax",
						"type": "decimal"
					},
					{
						"name": "TaxAmount",
						"type": "decimal"
					},
					{
						"name": "Profit",
						"type": "decimal"
					},
					{
						"name": "TotalIncludingTax",
						"type": "decimal"
					},
					{
						"name": "TotalDryItems",
						"type": "int"
					},
					{
						"name": "TotalChillerItems",
						"type": "int"
					},
					{
						"name": "LineageKey",
						"type": "int"
					}
				],
				"typeProperties": {
					"schema": "Fact",
					"table": "Sale_V"
				}
			},
			"dependsOn": []
		}
	]
}